* {
    padding: 0%;
    margin: 0%;
}

body {
}

.page-container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-and-mess-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.register-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    background-color: #e9ecef;
    height: 40vh;
    margin-bottom: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
}


.register-section input {
    padding: 5px;
    border-radius: 10px;
    border-color: black;
}

.register-section input,
button {
    width: 50%;
}

input:focus, textarea:focus{
    outline: none;
}

.register-section button {
    background-color: #292d31;
    padding: 5px;
    color: white;
    border-radius: 10px;
}


.register-section button:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}

.list-container p,
li {
    font-size: 1.2rem;
}

.list-container p {
    text-align: center;
}

a {
    font-size: 1.3rem;
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit; 
    text-decoration: none; 
  }

/* .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(193, 131, 49);
    margin-bottom: 10px;
    height: 12vh;
} */


#Welcome {
    color: #292d31;
}

.col img {
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#containerHome, #containerprofile {
    width: 90%;
}
#containerHome h3 , #containerprofile h3{
    font-size: 1.8rem;
    font-weight: 700;
    font-family: monospace;
    /* color: rgb(33, 116, 183); */
}

#containerHome img, #containerprofile img {
    margin-bottom: 10px;
}

#containerHome button, #containerprofile button {
    margin-bottom: 10px;
    width: 7vw;
    height: 9vh;
    border: none;
    background-color: #cf2828;
    cursor: pointer;
    color: white;

}

.col {
    background-color: white;
    border: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.page-container{
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .image-container {
        width: 90%;
    }

    .adding-image-section input,
    button {
        width: 80%;
    }

    #container button {
        width: 18vw;
        height: 9vh;
    }
    #container{
        width: 95%;
    }
    .register-container {
        width: 90%;
    }

    .register-section input,
    button {
        width: 80%;
    }

}