.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: brown;
}


.profile-container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1bx solid black;
    background-color: rgb(193, 131, 49);
    height: 50vh;

}

.profile-info {
    display: flex;
    flex-direction: column;
}

.text-area-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1bx solid black;
    background-color: rgb(193, 131, 49);
    height: 40vh;
}

.text-area {
    display: flex;
    width: 70%;
}

.area {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.sub-header {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 131, 49);
    height: 15vh;
    color: rgb(36, 36, 36);
}



#containerprofile {
    background-color: rgb(193, 131, 49);
}

@media screen and (max-width: 600px) {
    .profile-container {
        width: 100%;
        flex-direction: column;
        height: 60vh;
    }

    .text-area-container {
        width: 100%;
        flex-direction: column;
    }

    .sub-header {
        width: 100%;
        flex-direction: column;
    }


}